# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.agent/
.agent/*

# Dependency directories
node_modules/
**/node_modules/
dist/
dist-ssr/
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?

# Environment variables
.env
.env.*
.dev.vars

# Cloudflare & DB
.wrangler/
*.sqlite
*.db

# Wasm Physics (Corrected Paths)
wasm-physics/build/
wasm-physics/node_modules/

# Documents (The ones you want to exclude from GitHub)
*.resolved
*.html
Project Morpho v2.5*.md
!README.md
